.container {
    display: flex;
    align-items: center;
    gap: 10px;

    .tag {
        display: flex;
        font-weight: 500;
        gap: 35px;
        list-style-type: none;
        
        .itemTag {
            transition: 0.2s ease-in;
            cursor: pointer;
            
            &:hover {
                color: rgb(17 24 39);
            }
        }
    }
    
    .mode {
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid rgb(223, 217, 217);

        .icon {
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.2s ease-in;

            &:hover {
                background-color: rgb(240, 241, 243);
                border-radius: 5px;
            }
        }

    }

    .btnDownload {
        background-color: rgb(17 24 39);
        border: none;
        width: 135px;
        padding: 8px;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        transition: 0.2s ease-in;
        cursor: pointer;

        &:hover {
            background-color: rgb(65, 78, 105);
        }
   }
}

