.App {
    header {
        position: sticky;
        z-index: 9999;
        top: 0;
        background-color: #ffffff;
        
        &.sticky {
            border-bottom: 1px solid #ccc;
            backdrop-filter: blur(24px);
            background-color: rgba(255, 255, 255, 0.5); 
        }
    }
}
