.container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background-color: rgb(249 250 251);

    .left {
        border-right: 1px solid;
        padding-right: 5px;
    }

    .link {
        margin-top: 1px;
        color: rgb(144 150 159);
    }
}

.dark {
    @extend .container;
    color: rgb(170 175 183);
    background-color: rgb(17 24 39);
}

.mobile {
    @extend .container;
    font-size: 11px;
}