.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;

    .boxCard {
        display: flex;
        max-width: 800px;
        flex-direction: column;
        gap: 40px;

        .card {
            display: flex;
            align-items: flex-start;
            background-color: white;
            border-radius: 10px;
            justify-content: center;
            gap: 40px;
            padding: 40px 0;
            box-shadow: 0px 4px 10px 0px rgb(223 208 208 / 70%);
    
            .left {
                font-size: 20px;
    
            }
    
            .center {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    font-size: 20px;
                    margin: 0;
                }
                span {
                    font: 16px;
                    line-height: 24px;
                }
            }
        }
    }

   
}

.dark {
    @extend .container;
    color: white;
    .boxCard {
        .card {
            background-color: #1f2937;
            box-shadow: 0px 4px 10px 0px rgba(19, 18, 18, 0.7);
        }
    }
 
}

.mobiContainer {
    @extend .container;

    .boxCard {
        width: 100%;
        justify-content: center;
        align-items: center;

        .card {
            flex-direction: column;
            gap: 15px;
            padding: 10px 10px;
            
            .left {
                font-size: 16px;
            }

            .center {
                width: 100%;

                h4 {
                    font-size: 16px;
                }

                span {
                    font-size: 12px;
                }
            }
            
            .right {
                font-size: 14px;
            }
        }
    }
}